body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#text {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
